<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGamestudio.html}"
      lang="sk">
<head>
    <!--    <meta charset="UTF-8" />-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--    <meta name="author" content="Stefan Korecko" />-->
    <!--    <link rel="stylesheet"-->
    <!--          href="/css/mines.css"-->
    <!--          media="screen" />-->


    <title>GameStudio - Stones</title>
</head>

<body>
<main layout:fragment="content">


    <h2>Stones</h2>


    <div class="minesControl">

        <button type="button" id="btNewGame" class="abutton" onclick="processNewGameClick()">Nová hra</button>
To control use arrows on you keyboard.
    </div>

    <!--<div th:utext="${@minesweeperController.fieldAsHtml}"></div>-->

    <div>
        <h2>Status of the game: <span id="gameStatus"></span></h2>
    </div>

    <section id="stonesField">

    </section>
<br>
    <form th:if="${@userController.logged}" action="/commentAndRatingStonesAsynch" method="post">
        <label for="comment"> Please insert comment: </label> <input type="text" maxlength="1000" max name="commentIn"
                                                                     id="comment"  required /> <br>

    <br>

        <p>Please rate this game:</p>
        <div>
            <input type="radio" name="rateIn" id="rating-1" value="1"/>
            <label for="rating-1">1</label>
            <input type="radio" name="rateIn" id="rating-2" value="2" />
            <label for="rating-2">2</label>
            <input type="radio" name="rateIn" id="rating-3" value="3" checked  />
            <label for="rating-3">3</label>
            <input type="radio" name="rateIn" id="rating-4" value="4" />
            <label for="rating-4">4</label>
            <input type="radio" name="rateIn" id="rating-5" value="5" />
            <label for="rating-5">5</label>
        </div>
        <br>
        <button type="submit" class="disabling" id="submit-rating" >Send</button>
    </form>
    <br>

    <section>
        <h1>Table of best scores</h1>
        <table class="scores" style="border: 1px solid;">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Points</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody id="scoresTableBody">

            </tbody>
        </table>
        <br>
        <br>
        <h1>Comments</h1>
        <table class="scores" style="border: 1px solid;">
            <thead>
            <tr>
                <th>Username</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody id="commentsTableBody">

            </tbody>
        </table>
        <br>
        <br>
        <h2>Average rating of this game is: <span style="color:blue" id="avgRating"></span></h2>
    </section>

    <aside th:text="${message}"></aside>


    <div th:text="${1+2}"></div>

    <div th:text="${@minesweeperController.getCurrTime()}"></div>
    <div th:text="${@minesweeperController.currTime}"></div>

    <script type="text/javascript">
       const getJsonScoreUrl ="/api/score/Stones";  //adresa pre json data so skore

    const getJsonCommentUrl ="/api/comment/Stones";  //adresa pre json data s komentami

    const getJsonAvgRatingUrl ="/api/rating/avg/Stones";  //adresa pre json data s priemernym skore
    const tableBodyAvgRatingElmId="avgRating";   //ID elementu do ktoreho sa prida render dat
    const getJsonFieldUrl = "/stones/json";  //adresa na metodu ktora robi zmeny
    const viewElements ={   //na jedno mieste budeme mat elementy a pristup k nim
        stonesField: document.getElementById("stonesField"),
        scoresTableBody:  document.getElementById("scoresTableBody"),

        gameStatus:       document.getElementById("gameStatus"),
        commentsTableBody: document.getElementById("commentsTableBody")
    }


    fetchAndRenderBestScores(getJsonScoreUrl,viewElements);
    fetchAndRenderLastComments(getJsonCommentUrl,viewElements);
    fetchAndRenderAvgRating(getJsonAvgRatingUrl,tableBodyAvgRatingElmId);
    fetchGameFieldAndRenderAll(getJsonFieldUrl,viewElements);


document.addEventListener('keydown', function(e) {
    switch (e.keyCode) {
        case 37:
                processMoveLeft();
            break;
        case 38:
           processMoveUp();
            break;
        case 39:
            processMoveRight();
            break;
        case 40:
            processMoveDown();
            break;
    }
});



function processMoveLeft(){

        fetchGameFieldAndRenderAll(
            `/stones/jsonleft`,
            viewElements);

    }

function processMoveRight(){
        fetchGameFieldAndRenderAll(
            `/stones/jsonright`,
            viewElements);

    }

function processMoveUp(){
        fetchGameFieldAndRenderAll(
            `/stones/jsonup`,
            viewElements);
    }

function processMoveDown(){
        fetchGameFieldAndRenderAll(
            `/stones/jsondown`,
            viewElements);
    }



function myFunction() {
  document.getElementById("btNewGame").style.backgroundColor = "red";
}

//
//funckai na najdenie prazdneho boxu
function findRowOfEmptyBox(){
let row = 0;
        for (let r = 0; r < gameFieldData.rowCount; r++) {
            for (let c = 0; c < gameFieldData.columnCount; c++) {
                if (gameFieldData.boxes[r][c].getValue() == "0") {
                    row = r;
                }
            }
        }
        return row;
}
//funckai na najdenie prazdneho boxu
function findColumnOfEmptyBox(){
let column = 0;
        for (let r = 0; r < gameFieldData.rowCount; r++) {
            for (let c = 0; c < gameFieldData.columnCount; c++) {
                if (gameFieldData.boxes[r][c].getValue() == "0") {
                    column = c;
                }
            }
        }
        return column;
}

//funkcia na posun dolava



//funkcia na zmenu dolava
function moveLeft(){
if(gameFieldData.state=="PLAYING"){
let column = findColumnOfEmptyBox();
let row = findRowOfEmptyBox();
if (row - 1 < gameFieldData.rowCount && row - 1 >= 0) {
                let temporaryValue = gameFieldData.boxes[row - 1][column].value;
                gameFieldData.boxes[row][column].value=temporaryValue;
                gameFieldData.boxes[row - 1][column].value="0";
            }

}
fetchGameFieldAndRenderAll(getJsonFieldUrl,viewElements);
}

//funkcia na zistenie stavu hry
function getGameStatusMessage(gameFieldData) {
        let gameStatus = "";
        if (gameFieldData.state == "FAILED") {
            gameStatus = "FAILED";
        } else if (gameFieldData.state == "SOLVED") {
            gameStatus = "SOLVED (skóre: " + gameFieldData.score + ")";
        } else {
            gameStatus = "PLAYING ";

        }

        return gameStatus;
    }



//funkcia pre novu hru
     function processNewGameClick(){
        fetchGameFieldAndRenderAll(
            `/stones/jsonnew`,
            viewElements);
    }



//funkcia pre vyrenderovanie hracieho pola
function fetchGameFieldAndRenderAll(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Gamefield acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(gameFieldData => { //here we process the returned response data in JSON ...
                //viewElements.gameStatus.innerHTML = getGameStatusMessage(gameFieldData);  //vracia do elementu text stavu hry

                const newStatusMessage=getGameStatusMessage(gameFieldData);  //nacita sa stav hry do kosntanty
                if(viewElements.gameStatus.innerHTML != newStatusMessage){     //ak je v elemente iny stav ako skutocny tak sa zmeni hondnota v elemente
                    viewElements.gameStatus.innerHTML=newStatusMessage;
                }



                renderGameField(gameFieldData, viewElements);

   //enabling(gameFieldData);  nechce to fungovat pretoze ak nie je prihlaseny tak nesu zobrazenem treba prerobit metodu

                if(gameFieldData.justFinished){

                fetchAndRenderBestScores(getJsonScoreUrl,viewElements);
                }

            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo vykreslit herne pole. Podrobnosti: " + error;
                console.log(errorMessage);
                viewElements.stonesField.innerHTML =errorMessage;  // v pripade chyby sa do elementu vpise chyba
                //document.getElementById(fieldElmId).innerHTML =error;
            });
    }

//funckia ktora overi ci je stav solved a ak ano tak povoli klikatelnost na tlacidla submit pri komentoch a ratingu
function enabling(gameFieldData){
if (gameFieldData.state == "SOLVED"){
document.getElementById("submit-comment").disabled=false;
document.getElementById("submit-rating").disabled=false;
}else {
document.getElementById("submit-comment").disabled=true;
document.getElementById("submit-rating").disabled=true;
}
}


    function renderGameField(gameFieldData, viewElements){
        let html2Render="<table class='minefield'>\n";   //zaciatok tabulky

        for(let row=0;row<gameFieldData.rowCount;row++){   //rowCount a columnCount je vytiahnuty z Fieldu

            html2Render+=" <tr>\n";   //pridanie riadku

            for(let col=0;col<gameFieldData.columnCount;col++){


                html2Render+=
                    `<td>
                        <span>
                        ${getBoxValue(gameFieldData.boxes[row][col])}
                        </span>
                     </td>`;
            }

            html2Render+=" </tr>\n";
        }
                html2Render+="</table>\n";

        viewElements.stonesField.innerHTML=html2Render;
    }

   /**
     * Gets the text that may be displayed inside a HTML element representing 1 tile
     * Now public as it is called from the template
     * @param tile - the Tile object the text is extracted from
     * @return the text that may be displayed inside a HTML element representing the Tile tile
     */
    function getBoxValue(box){

            return ""+box.value;
    }


//funkcia pre vyrenderovanie skore
    function fetchAndRenderBestScores(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Best scores acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(bestScoresData => { //here we process the returned response data in JSON ...
                renderBestScores(bestScoresData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať údaje o najlepších skóre. Podrobnosti: " + error;
                console.log(errorMessage);
                viewElements.scoresTableBody.innerHTML =errorMessage;  // v pripade chyby sa do elementu vpise chyba
                //document.getElementById(fieldElmId).innerHTML =error;
            });
    }

    function renderBestScores(bestScoresData, viewElements) {

        const rowCount = bestScoresData.length;

        let html2Render="";

        for(row=0;row<rowCount;row++){
            html2Render+=
                `<tr>
                    <td>${row+1} </td>
                    <td>${bestScoresData[row].username}</td>
                    <td>${bestScoresData[row].points}</td>
                    <td>${bestScoresData[row].playedOn}</td>
                 </tr>
                `;
        }
        //document.getElementById(tableBodyElmId).innerHTML=html2Render;
        viewElements.scoresTableBody.innerHTML=html2Render;
    }


    //funkcia pre komenty
    function fetchAndRenderLastComments(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Last comments acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(lastCommentsData => { //here we process the returned response data in JSON ...
                renderLastComments(lastCommentsData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať údaje o poslednych komentaroch. Podrobnosti: " + error;
                console.log(errorMessage);
                viewElements.commentsTableBody.innerHTML =errorMessage;  // v pripade chyby sa do elementu vpise chyba
                //document.getElementById(fieldElmId).innerHTML =error;
            });
    }

    function renderLastComments(lastCommentsData, viewElements) {

        const rowCount = lastCommentsData.length;

        let html2Render="";

        for(row=0;row<rowCount;row++){
            html2Render+=
                `<tr>

                    <td>${lastCommentsData[row].username}</td>
                    <td>${lastCommentsData[row].comment}</td>
                    <td>${lastCommentsData[row].commentedOn}</td>
                 </tr>
                `;
        }
       viewElements.commentsTableBody.innerHTML=html2Render;
    }


    //funckia pre average rating
function fetchAndRenderAvgRating(getJsonUrl,tableBodyAvgRatingElmId) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Average acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(avgRatingData => { //here we process the returned response data in JSON ...
                renderAvgRating(avgRatingData, tableBodyAvgRatingElmId);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať údaje o priemernom hodnoteni. Podrobnosti: " + error;
                console.log(errorMessage);
                //document.getElementById(fieldElmId).innerHTML =error;
            });
    }

    function renderAvgRating(avgRatingData, tableBodyAvgRatingElmId) {

        document.getElementById(tableBodyAvgRatingElmId).innerHTML=avgRatingData;
    }





    </script>

</main>


</body>
</html>